<div id="carousel-{{ module }}" class="carousel owl-carousel">
	{% for banner in banners %}
		{% if banner.link %}
			<a href="{{ banner.link }}" title="{{ banner.title }}" data-toggle="tooltip"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
		{% else %}
			<img src="{{ banner.image }}" alt="{{ banner.title }}" title="{{ banner.title }}" data-toggle="tooltip" class="img-responsive" />
		{% endif %}
	{% endfor %}
</div>
<script>
$('#carousel-{{ module }}').owlCarousel({
	responsive: {0:{items:1},580:{items:3},720:{items:6},1050:{items:8}},
	nav:true,
	dots:false,
	loop:true,
	autoplay:true,
	autoplayTimeout:2000,
	autoplayHoverPause:true,
	navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
});
</script>