{% if categories %}
	{% if heading_title %}
		<div class="heading"><span>{{ heading_title }}</span></div>
	{% endif %}
	<div class="uni-module category-wall category-wall-{{ module }}">
		<div class="uni-module__wrapper row-flex">
		{% for category in categories %}
			<div class="category-wall__item uni-item {{ type == 2 ? 'type2' }}">
				{% if category.image %}
					<a href="{{ category.href }}" class="category-wall__image {{ category.childs ? 'child' }} {{ type == 2 ? 'type2' }}">
						<img src="{{ category.image }}" loading="lazy" alt="{{ category.name }}" class="img-responsive" width="{{ img_width }}" height="{{ img_height }}" />
					</a>
				{% endif %} 
				<ul class="category-wall__ul {{ category.childs ? 'child' : 'child-empty' }} {{ type == 2 ? 'type2' }}">
					<li class="category-wall__title {{ category.childs ? 'child' : 'child-empty' }} {{ type == 2 ? 'type2' }}"><a href="{{ category.href }}">{{ category.name }}</a>
					{% if category.childs %}
						{% for child in category.childs %}
							<li class="category-wall__li {{ type == 2 ? 'type2' }}"><a href="{{ child.href }}">{{ child.name }}</a></li>
						{% endfor %}
						<li><a class="category-wall__more uni-href {{ type == 2 ? 'type2' }}" data-href="{{ category.href }}"><span>{{ text_all_cats }}</span></a></li>
					{% endif %}
				</ul>
			</div>
		{% endfor %}
		</div>
	</div>
	<script>
		$('.category-wall-{{ module }}').uniModules({
			type:'{{ type_view }}',
			items: {0:{items:{{ columns.4 }} }, 700:{items:{{ columns.3 }} }, 993:{items: {{ columns.2 }} }, 1050:{items:{{ columns.1 }} }, 1400:{items: {{ columns.0 }} }},
			{{ type_view == 'carousel' ? 'autoheight:["category-wall__ul"],' }}
		});
	</script>
{% endif %} 