{{ header }}
<div class="container">
	<ul class="breadcrumb {{ menu_expanded ? 'col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' }}">
		{% for key, breadcrumb in breadcrumbs %}
			{% if key + 1 < breadcrumbs|length %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% else %}
				<li>{{ breadcrumb.text }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-4 col-md-6 col-lg-6 col-xxl-12' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}
			<div class="heading-h1"><h1>{{ heading_title }}</h1></div>
			{% if description %}
				<div class="manufacturer-page category-info">
					{% if thumb %}
						<div class="category-info__image">
							<img src="{{ thumb }}" alt="{{ heading_title }}" class="img-thumbnail"/>
						</div>
					{% endif %}
					<div class="category-info__description">{{ description }}</div>
				</div>
			{% endif %}
			{% if products %}
				<hr />
				<div class="sorts-block">
					<div class="sorts-block__item">
						<div class="btn-group">
							{% if show_grid_button %}<button type="button" id="grid-view" class="sorts-block__btn btn btn-default" title="{{ button_grid }}"><i class="fa fa-th-large"></i></button>{% endif %}
							{% if show_list_button %}<button type="button" id="list-view" class="sorts-block__btn btn btn-default" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>{% endif %}
							{% if show_compact_button %}<button type="button" id="compact-view" class="sorts-block__btn btn btn-default hidden-xs hidden-sm" title="{{ button_compact }}"><i class="fa fa-align-justify"></i></button>{% endif %}
						</div>
					</div>
					<div class="sorts-block__item">
						<select id="input-sort" class="sorts-block__select form-control" onchange="location = this.value;">
							{% for sorts in sorts %}
								{% if sorts.value == '%s-%s'|format(sort, order) %}
									<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
								{% else %}
									<option value="{{ sorts.href }}">{{ sorts.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<select id="input-limit" class="sorts-block__select sorts-block__limit form-control" onchange="location = this.value;">
							{% for limits in limits %}
								{% if limits.value == limit %}
									<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
								{% else %}
									<option value="{{ limits.href }}">{{ limits.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<hr />
				<div class="products-block row">
					{% if default_view == 'list' %}
						{% set class = 'product-list list-view col-sm-12' %}
					{% elseif default_view == 'compact' %}
						{% set class = 'product-price compact-view col-sm-12' %}
					{% else %}
						{% if column_left and column_right %}
							{% set class = 'product-grid grid-view col-sm-12 col-md-12 col-lg-6 col-xxl-6-1' %}
						{% elseif column_left or column_right %}
							{% set class = 'product-grid grid-view col-sm-6 col-md-4 col-lg-4 col-xxl-5' %}
						{% else %}
							{% set class = 'product-grid grid-view col-sm-6 col-md-3 col-lg-3 col-xxl-4' %}
						{% endif %}
					{% endif %}
					{% for product in products %}
						<div class="product-layout product-grid grid-view {{ class }}">
							<div class="product-thumb uni-item">
								<div class="product-thumb__image" {{ product.special_date_end ? 'data-special-end="'~product.special_date_end~'"' }}>
									{% include 'unishop2/template/extension/module/uni_stickers.twig' %}	
									<a href="{{ product.href }}">
										<img src="{{ product.thumb }}" {{ product.additional_image ? 'data-additional="'~product.additional_image~'"' }} alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
									</a>
								</div>
								<div class="product-thumb__caption">
									<a class="product-thumb__name" href="{{ product.href }}">{{ product.name }}</a>
									{{ product.model ? '<div class="product-thumb__model" data-text="'~text_model~'">'~product.model~'</div>' }}
									{% if product.show_description %}
										<div class="product-thumb__description description">{{ product.description }}</div>
									{% endif %}
									{% include 'unishop2/template/extension/module/uni_attributes.twig' %}
									{% include 'unishop2/template/extension/module/uni_options.twig' %}
									{% include 'unishop2/template/extension/module/uni_quantity_indicator.twig' %}
									{% if product.rating >= 0 and show_rating %}
										<div class="product-thumb__rating rating">
											{% for i in 1..5 %}
												<i class="{{ product.rating < i ? 'far fa-star' : 'fa fa-star' }}"></i>
											{% endfor %} 
											{% if product.num_reviews > 0 %}<a class="product-thumb__rating-a uni-badge uni-href" data-href="{{ product.href }}#tab-review">{{ product.num_reviews }}</a>{% endif %}
										</div>
									{% endif %}
									{% if product.price %}
										<div class="product-thumb__price price" data-price="{{ product.price_value }}" data-special="{{ product.special_value }}" data-discount="{{ product.discounts }}">
											{% if not product.special %}
												{{ product.price }}
											{% else %}
												<span class="price-old">{{ product.price }}</span> <span class="price-new">{{ product.special }}</span> 
											{% endif %}
										</div>
										{% if product.tax %}<div class="price-tax">{{ text_tax }} {{ product.tax }}</div>{% endif %}
									{% endif %}
									<div class="product-thumb__cart cart {{ product.cart_btn_class }}">
										{% if product.show_quantity %}
											<div class="qty-switch">
												<input type="text" name="quantity" value="{{ product.minimum }}" data-minimum="{{ product.minimum }}" class="qty-switch__input form-control" />
												<div>
													<i class="qty-switch__btn fa fa-plus btn-default"></i>
													<i class="qty-switch__btn fa fa-minus btn-default"></i>
												</div>
											</div>
										{% endif %}
										<button type="button" class="product-thumb__add-to-cart add_to_cart btn {{ product.cart_btn_class }}" title="{{ product.cart_btn_text }}" data-pid="{{ product.product_id }}" onclick="cart.add({{ product.product_id }}, this)"><i class="{{ product.cart_btn_icon }}"></i><span class="hidden-sm hidden-md">{{ product.cart_btn_text }}</span></button>
										<button type="button" class="product-thumb__quick-order quick-order btn {{ product.quick_order is empty ? 'hidden' }}" data-toggle="tooltip" title="{{ quick_order_title }}" onclick="quick_order('{{ product.product_id }}');"><i class="{{ quick_order_icon }}"></i>{% if show_quick_order_text %}<span class="hidden-xs hidden-sm">{{ quick_order_title }}</span>{% endif %}</button>
										<button type="button" class="product-thumb__wishlist wishlist {{ wishlist_btn_disabled ? 'hidden' }}" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
										<button type="button" class="product-thumb__compare compare {{ compare_btn_disabled ? 'hidden' }}" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fas fa-align-right"></i></button>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					{% if show_timer %}
						<script>
							$('.product-layout .product-thumb__image').each(function() {
								var date = $(this).attr('data-special-end');
			
								if(date) {
									$(this).uniTimer({
										date      :''+date+'',
										texts     :['{{ text_special_day }}','{{ text_special_hour }}','{{ text_special_min }}','{{ text_special_sec }}']
									});
								}
							});
						</script>
					{% endif %}
				</div>
				{{ pagination }}
			    <div class="pagination-text">{{ results }}</div>
			{% endif %}
			{% if not products %}
				<div class="div-text-empty">{{ text_empty }}</div>
			{% endif %}
			<div class="category-info-bottom"></div>
			{{ content_bottom }}
		</div>
		{{ column_right }}
		<script>uniSelectView.init();</script>
	</div>
</div>
<script>
	{{ cat_desc_pos == 'bottom' ? '$(".category-info-bottom").append($(".category-info"));' }}
	
	{% if description and cat_desc_height %}
		$(function() {
			let height_1 = $('.category-info').outerHeight(),
				height_2 = $('.category-info__description').outerHeight();
			
			if(height_2 > height_1) {
				$('.category-info').append('<a class="category-info__btn">{{ text_expand_description }}</a>');
				
				let height_3 = height_2 + $('.category-info__btn').outerHeight()+15;
	
				$('.category-info__btn').on('click', function() {
					$this = $(this);
	
					$this.toggleClass('show');
		
					if($this.hasClass('show')) {
						newHeight = height_3;
						$this.text('{{ text_collapse_description }}');
					} else {
						newHeight = height_1;
						$this.text('{{ text_expand_description }}');
					}
		
					$this.parent().animate({height: newHeight}, 300);
				});
			}
		});
	{% endif %}
</script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
		{% for i, breadcrumb in breadcrumbs %}
			{
			"@type": "ListItem",
			"position": {{ i+1 }},
			"name": "{{ i == 0 ? shop_name: breadcrumb.text }}",
			"item": "{{ breadcrumb.href }}"
			{{ i + 1 < breadcrumbs|length ? '},' : '}' }}
		{% endfor %}
		]
	}
</script>
{{ footer }}