{{header}}
{{column_left}}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="button" onclick="$('#form-request-setting').submit();" class="save btn btn-primary" data-toggle="tooltip" title="{{button_save}}" data-loading-text="<i class='fa fa-spinner'></i>"><i class="fa fa-save"></i></button>
			</div>
			<h1>{{heading_title}}</h1><br />
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_warning}}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
		{% endif %}
		{% if success %}
			<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{success}}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-list"></i> {{text_setting}}</h3>
			</div>
			<div class="panel-body">
				<div class="sett tab-content-new" style="margin:0 0 20px; background:#fcfcfc;">
					<form method="post" enctype="multipart/form-data" id="form-request-setting">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-setting" data-toggle="tab">{{column_notify}}</a></li>
							<li><a href="#tab-setting2" data-toggle="tab">{{column_question}}</a></li>
							<li><a href="#tab-setting3" data-toggle="tab">{{column_email_cap}}</a></li>
						</ul>
						<div id="module" class="tab-content">
							<div id="tab-setting" class="tab-pane active">
								<div class="col-sm-2">{{entry_heading_notify}}</div>
								<div class="col-sm-10">
									<ul class="nav nav-tabs">
										{% for lang in languages %}
											<li><a href="#heading-notify-{{lang.language_id}}" data-toggle="tab"><img src="language/{{lang.code}}/{{lang.code}}.png" title="{{lang.name}}" /></a></li>
										{% endfor %}
									</ul>
									<div class="tab-content">
									{% for lang in languages %}
										<div id="heading-notify-{{lang.language_id}}" class="tab-pane">
											<input type="text" name="uni_request[heading_notify][{{lang.language_id}}]" value="{{uni_request.heading_notify[lang.language_id] ? uni_request.heading_notify[lang.language_id] : 'Уведомить о наличии'}}" class="form-control">
										</div>
									{% endfor %}
									</div>
								</div>
								<hr />
								<div class="col-sm-2">{{entry_notify_phone}}</div>
								<div class="col-sm-10"><label><input type="checkbox" name="uni_request[notify_phone]" value="1" {{uni_request.notify_phone ? 'checked="checked"'}} /><span></span></label></div>
								<hr />
								<div class="col-sm-2">{{entry_notify_email}}</div>
								<div class="col-sm-10"><label><input type="checkbox" name="uni_request[notify_email]" value="1" {{uni_request.notify_email ? 'checked="checked"'}} /><span></span></label></div>
								<hr />
								<div class="col-sm-2">{{entry_notify_email_required}}</div>
								<div class="col-sm-10"><label><input type="checkbox" name="uni_request[notify_email_required]" value="1" {{uni_request.notify_email_required ? 'checked="checked"'}} /><span></span></label></div>
							</div>
							<div id="tab-setting2" class="tab-pane">
								<div class="col-sm-2">{{entry_heading_question}}</div>
								<div class="col-sm-10">
									<ul class="nav nav-tabs">
										{% for lang in languages %}
											<li><a href="#heading-question-{{lang.language_id}}" data-toggle="tab"><img src="language/{{lang.code}}/{{lang.code}}.png" title="{{lang.name}}" /></a></li>
										{% endfor %}
									</ul>
									<div class="tab-content">
									{% for lang in languages %}
										<div id="heading-question-{{lang.language_id}}" class="tab-pane">
											<input type="text" name="uni_request[heading_question][{{lang.language_id}}]" value="{{uni_request.heading_question[lang.language_id] ? uni_request.heading_question[lang.language_id] : 'Вопрос о товаре'}}" class="form-control">
										</div>
									{% endfor %}
									</div>
								</div>
								<hr />
								<div class="col-sm-2">{{entry_question_list}}</div>
								<div class="col-sm-10"><label><input type="checkbox" name="uni_request[question_list]" value="1" {{uni_request.question_list ? 'checked="checked"'}} /><span></span></label></div>
								<hr />
								<div class="col-sm-2">{{entry_question_phone}}</div>
								<div class="col-sm-10"><label><input type="checkbox" name="uni_request[question_phone]" value="1" {{uni_request.question_phone ? 'checked="checked"'}} /><span></span></label></div>
								<hr />
								<div class="col-sm-2">{{entry_question_email}}</div>
								<div class="col-sm-10"><label><input type="checkbox" name="uni_request[question_email]" value="1" {{uni_request.question_email ? 'checked="checked"'}} /><span></span></label></div>
								<hr />
								<div class="col-sm-2">{{entry_question_email_required}}</div>
								<div class="col-sm-10"><label><input type="checkbox" name="uni_request[question_email_required]" value="1" {{uni_request.question_email_required ? 'checked="checked"'}} /><span></span></label></div>
								<hr />
								<div class="col-sm-2">{{entry_question_captcha}}</div>
								<div class="col-sm-10"><label><input type="checkbox" name="uni_request[question_captcha]" value="1" {{uni_request.question_captcha ? 'checked="checked"'}} /><span></span></label></div>
							</div>
							<div id="tab-setting3" class="tab-pane">
								<div class="col-sm-2">{{entry_email_cap}}</div>
								<div class="col-sm-10"><input type="text" name="uni_request[email_cap]" value="{{uni_request.email_cap ? uni_request.email_cap : 'mail@localhost'}}" class="form-control"></div>

							</div>
						</div>
						<div class="container clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('.nav-tabs').each(function() {
	$(this).find('li:first a').tab('show');
});
</script>
{{footer}}