{{ header }}
<div class="home-page container">
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-12 col-md-6 col-lg-6 col-xxl-12' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-12 col-md-9 col-lg-9 col-xxl-16' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}
		</div>
		{{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }}