{% if languages|length > 1 %}
	<div class="top-menu__language pull-right">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="language">
			<div class="btn-group">
				<button class="top-menu__btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe" title="{{ language.name }}"></i><span class="hidden-xs">{{ text_language }}</span></button>
				<ul class="dropdown-menu dropdown-menu-right">
					{% for language in languages %}
						<li class="top-menu__language-item"><a data-code="{{ language.code }}">{{ language.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<input type="hidden" name="code" value="" />
			<input type="hidden" name="redirect" value="{{ redirect }}" />
		</form>
	</div>
{% endif %}